<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="intro-text">
                <span class="name">Hello {{user.username}}</span>
                <hr class="star-light">
                <h3>User page!</h3>

                <div class="row">
                    <div class="col-lg-4">
                        <h2>Short URL</h2>
                    </div>
                </div>
                <div class="row custom_container">
                    <div class="col-lg-4">
                        <form name="sentMessage" id="contactForm" novalidate="" ng-submit="vm.short()">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>URL</label>
                                    <input type="text" class="form-control" ng-model="vm.url" placeholder="URL"
                                           id="name" required=""
                                           data-validation-required-message="Please enter your name.">

                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>About</label>
                                    <input type="text" class="form-control" ng-model="vm.aboutUrl" placeholder="About"
                                           id="about"
                                           required=""
                                           data-validation-required-message="Please enter your email address.">

                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-default btn-lg">Short</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-7 col-lg-offset-1 userUrls">
                            <h2>Shorten URLs</h2>
                            <button type="submit" class="btn btn-default btn-sm btn-position" ng-click="vm.refresh()">Refresh</button>
                        <table class="table table-bordered" style="table-layout:fixed;">
                            <thead>
                            <tr>
                                <th width="30px">Long url</th>
                                <th width="40px">Short url</th>
                                <th width="30px">About</th>
                                <th width="40px">Tags</th>
                                <th width="10px">Clicks</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="url in vm.urls">
                                <td class="longText">{{url.long_url}}</td>
                                <td class="longText"><a href="{{url.short_url}}"
                                                        style="color: white">{{url.short_url}}</a></td>
                                <td class="longText">{{url.about}}</td>
                                <td>tags</td>
                                <td>{{url.click_count}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <uib-pagination total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                                        ng-model="vm.currentPage"
                                        ng-change="vm.pageChanged()"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>