<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="intro-text">
                <span class="name">Hello {{user.username}}</span>
                <hr class="star-light">
                <h3>User page!</h3>

                <div class="row">
                    <div class="col-lg-4">
                        <h2>Short URL</h2>
                    </div>
                </div>
                <div class="row custom_container">
                    <div class="col-lg-4">
                        <form name="myForm" id="contactForm" role="form">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>URL</label>
                                    <input type="url" class="form-control placeholder-white" ng-model="vm.urlName"
                                           placeholder="http://www.example.com"
                                           id="url" name="url" required />
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>About</label>
                                    <input type="text" class="form-control placeholder-white" ng-model="vm.aboutUrl"
                                           placeholder="About"
                                           id="about">
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Tags</label>
                                    <tags-input ng-model="vm.tags"></tags-input>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" ng-disabled="myForm.$invalid" class="btn btn-default btn-lg" ng-click="vm.short()">Short
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-7 col-lg-offset-1 userUrls">
                        <h2>Shorten URLs</h2>
                        <button type="submit" class="btn btn-default btn-sm btn-position" ng-click="vm.refresh()">
                            Refresh
                        </button>
                        <table class="table table-bordered" style="table-layout:fixed;">
                            <thead>
                            <tr>
                                <th width="30px">Long url</th>
                                <th width="40px">Short url</th>
                                <th width="30px">About</th>
                                <th width="40px">Tags</th>
                                <th width="10px">Clicks</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table-body" ng-repeat="url in vm.urls" ng-click="vm.urlInfo(url)"
                                data-toggle="modal" data-target="#formModal">
                                <td class="longText">{{url.long_url}}</td>
                                <td class="longText"><a href="{{url.short_url}}"
                                                        style="color: white">{{url.short_url}}</a></td>
                                <td class="longText">{{url.about}}</td>
                                <td>
                                    <div style="display: inline" ng-repeat="tag in url.tags">
                                        <span class="label label-info">{{tag.text}}</span>
                                    </div>
                                </td>
                                <td>{{url.click_count}}</td>
                            </tr>
                            </tbody>
                        </table>
                        <uib-pagination total-items="vm.totalItems" items-per-page="vm.itemsPerPage"
                                        ng-model="vm.currentPage"
                                        ng-change="vm.pageChanged()"></uib-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="formModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 style="color: black">Edit tags</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <tags-input ng-model="vm.url.tags"></tags-input>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="vm.urlUpdate()">Edit</button>
                </div>
            </div>

        </div>
    </div>
</div>