<div class="portfolio-modal modal fade in" id="registrationModal" tabindex="-1" role="dialog"
     style="display: block;">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal" ng-click="$rootScope.showRegisterForm = false">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container" ng-controller="AuthCtrl as vm">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Registration form</h2>
                        <hr class="star-primary">
                        <form name="sentMessage" id="loginForm" novalidate="" ng-submit="vm.register()">
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Name</label>
                                    <input type="text" ng-model="vm.regName" class="form-control" placeholder="Name" id="name" required=""
                                           data-validation-required-message="Please enter your name.">

                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Password</label>
                                    <input type="password" ng-model="vm.regPass" class="form-control" placeholder="Password" id="password"
                                           required=""
                                           data-validation-required-message="Please enter your password.">

                                    <p class="help-block text-danger"></p>
                                </div>
                            </div><br>
                            <div id="success"></div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-success btn-lg">Registration</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>